.margin-right {
  margin-right: 1rem;
}

.width-half {
  width: 50%;
}

.min-height-half {
  min-height: 60vh;
}

.align-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1rem;
}

.padding-1-rem {
  padding: 1rem;
}

.bolding {
  font-weight: 900;
  font-size: 1.2rem;
}

.submit-class {
  position: flex-end;
}

.content-top-bottom-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.normal-text {
  font-weight: 300;
  padding: 0.25rem;
}

Button {
  color: #5c7080;
}